DJANGO_SETTINGS_MODULE={{ django_settings_module }}
DJANGO_SECRET_KEY={{ django_secret_key }}
DJANGO_ADMIN_URL=hidden_admin/
DATABASE_URL=postgres://{{ postgres_user }}:{{ postgres_password }}@localhost:5432/{{ postgres_database }}
DJANGO_ALLOWED_HOSTS={{ django_allowed_hosts }}
DJANGO_AWS_ACCESS_KEY_ID={{ django_aws_access_key_id }}
DJANGO_AWS_SECRET_ACCESS_KEY={{ django_aws_secret_access_key }}
DJANGO_AWS_STORAGE_BUCKET_NAME={{ django_aws_storage_bucket_name }}
CLOUDFRONT_DOMAIN={{ cloudfront_domain }}
SENTRY_DSN={{ django_sentry_dsn }}
MAILGUN_DOMAIN={{ mailgun_sender_domain }}
MAILGUN_API_KEY={{ django_mailgun_api_key }}
DJANGO_SERVER_EMAIL={{ django_server_email }}
DJANGO_CACHE_LOCATION={{ django_cache_location }}
DJANGO_ACCOUNT_ALLOW_REGISTRATION=False
