{% extends "base.html" %}
{% block content %}
<h2><a href="/">python-podcast.de</a></h2>
<p>
  Das sind Jochen &amp; Dominik, Freelancer im Bereich
  Data Science und passionierte Pythonistas. Wir machen den podcast „just for fun“.
  Erwartet also keine allzu großen Wunder.
  Aber das hört Ihr am besten selbst.
</p>
<p>
  Kennengelernt haben wir uns in Düsseldorf bei der
  <a href="https://www.pyddf.de/">Python-Usergroup</a>
  und wir senden auch von dort unsere Folgen. (Grüße an die Pflanzen in
  Jochens Wintergarten). Jochen hatte einfach diese coole Idee
  „das wollte ich schon immer mal machen!“ Dominik war sofort begeistert.
  Gesagt, getan, da sind wir also.. Vielleicht stellen wir hier sogar
  noch ein Foto ein. (Wenn Ihr lieb fragt)
</p>
<p>
  Ihr wollt mehr zu einem Thema hören?
  Ihr kennt euch richtig aus und möchtet bei einer Folge als Experte mitmachen?
  Ihr habt Veranstaltungshinweise?
  Fehlerkorrekturen? (Nein, wir machen keine Fehler, nie!)
  Schickt uns einfach eine Mail an
  <a href="mailto:hallo@python-podcast.de" target="_top">hallo@python-podcast.de</a>.
</p>

<p>
  Auch für Kritik, Anregungen &amp; Lob sind wir immer empfänglich.
</p>

Beste Grüße
<p>
<h4>Formalkram</h4>
Hier noch die Links für <a href="{% url 'impressum' %}">Impressum</a>
und <a href="{% url 'dsgvo' %}">Datenschutzerklärung</a>
</p>
{% endblock content %}
