{% extends "base.html" %}
{% block content %}
<h1>Datenschutzerklärung</h1>
Verantwortliche: Dominik Geldmacher/Jochen Wersdörfer, Sulzbachstr. 61, 40629 Düsseldorf
<h3>Datenschutz</h3>
Ihre persönlichen Daten werden entsprechend der gesetzlichen Datenschutzvorschriften (insbesondere Art. 5 DSGVO) sowie dieser Datenschutzerklärung vertraulich behandelt.
Die Nutzung unserer Webseite ist - neben der Nutzung von sog. Session-Cookies und den Server-Logfiles - grundsätzlich ohne Angabe personenbezogener Daten möglich. Zur Speicherung sog. Zugriffsdaten siehe unter „Server-Log-Files“. 

<h3>Sicherheitshinweis</h3>
Die Datenübertragung im Internet kann generell Sicherheitslücken aufweisen. Aus diesem Grund ist ein Zugriff auf Ihre Daten durch Dritte nicht vollkommen auszuschließen. Alle uns bekannten Schutzmaßnahmen zu einem möglichst lückenlosen Schutz werden jedoch regelmäßig durchgeführt.

<h3>Auskunft, Löschung, Sperrung</h3>
<strong><u>Sie haben jederzeit ein Recht auf unentgeltliche Löschung oder Sperrung Ihrer erhobenen Daten</u></strong>, deren Herkunft und Empfänger sowie den Zweck der Datenverarbeitung. Schreiben Sie hierzu einfach eine formlose E-Mail an unsere <strong>Verantwortlichen</strong> mit der E-Mailadresse hallo (at) python-podcast (.) de. [Ersetzen sie das "at" und den Punkt in Klammern bitte durch die übliche Notation name@domain.de - diese Maßnahme dient dem Schutz vor Spamangriffen]. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich natürlich ebenfalls jederzeit unter der im <a href="/impressum">Impressum</a> angegebenen Adresse an uns wenden.

<strong>Sie</strong> <strong>können ebenfalls unentgeltlich Auskunft</strong> und auch <strong>Korrektur aller Ihrer gespeicherten Daten verlangen</strong> oder die Verarbeitung nach Ihren Wünschen einschränken lassen. Zusätzlich haben Sie ein Beschwerderecht bei der Datenschutzaufsichtsbehörde (Die Bundesbeauftragte für den Datenschutz und die Informationsfreiheit, Husarenstraße 30, 53117 Bonn, Telefon: +49 (0)228-997799-0, E-Mail: poststelle@bfdi.bund.de)

Falls Sie uns eine Einwilligung zur Datennutzung erteilt haben, können Sie diese Daten gemäß Art 20 DSGVO zu anderen Verantwortlichen übertragen lassen, oder - der weiteren Nutzung dieser Daten (vor allem zur Direktwerbung) jederzeit widersprechen. Wenden sie sich hierzu bitte ebenfalls an unsere Verantwortlichen.

Wenn Sie Ihre Einwilligung zur Datennutzung widerrufen, werden wir die Datenverarbeitung, die auf Ihrer Einwilligung beruhte, nicht fortführen.

Zugehörige Rechtsgrundlagen: (Widerruf: Art. 7 DSGVO, Auskunft: Art 15 DSGVO, Korrektur: Art 16 DSGVO, Löschung: Art 17 DSGVO, Einschränkung der Verarbeitung: Art 18 DSGVO, Übertragung: Art. 20 DSGVO, Widerspruch: Art. 21 DSGVO, Beschwerderecht: Art 77 DSGVO)

<h3>Datenverarbeitung</h3>
Während der Verarbeitung Ihrer Daten (Ausnahmen stellen die Verarbeitung von Cookies und Server-Logfiles dar, siehe die jeweiligen Unterpunkte), sind diese durch moderne Verschlüsselungsalgorithmen (mindestens AES 128 bit) vor dem Zugriff Unbefugter bestmöglich geschützt. Die von uns nach besonderen Sicherheitsvorkehrungen ausgewählten Speicherorte befinden sich auf Servern unseres Webanbieters.

<h3>Kontaktformular</h3>
Mit einem Klick auf einen unserer Buttons zur Kontaktaufnahme, wird das auf ihrem Rechner als Standard-Client definierte E-Mail-Programm ausgeführt und Sie haben die Möglichkeit eine E-Mail an unsere Kontaktadresse "hallo (at) python-podcast (.) de" zu versenden. Wenn Sie diese E-Mail abschicken, erhalten wir dadurch Ihre E-Mail-Adresse und den von Ihnen ausgefüllten Inhalt der Mail. Die Angabe zusätzlicher persönlicher Kontaktdaten, erfolgt ausdrücklich freiwillig. Die in ihrer E-Mail angegebenen Kontaktdaten werden ausschließlich zum Zweck der Bearbeitung Ihrer Kontaktanfrage gespeichert und nicht ohne Ihre Einwilligung weitergegeben. Sollten Sie eine Auftragsanfrage abgegeben haben, verwenden wir Ihre Kontaktdaten gemäß Art. 6 (1) b DSGVO ebenso zur Vertragsvorbereitung und Erfüllung.

<h3>Cookies</h3>
Unsere Seite verwendet Cookies.

Cookies ermöglichen die Analyse Ihrer Nutzung unserer Seite. Diese Cookies bleiben in einigen Fällen auf Ihrem Endgerät gespeichert, bis Sie gelöscht werden. Unsere Cookies ermöglichen es uns, Ihren Browser bei Ihrem nächsten Besuch zu erkennen. Sie können Ihren Browser so konfigurieren, dass Sie über ein Setzen der Cookies informiert werden und diese nur im Einzelfall erlauben, eine Annahme spezieller Cookies blockieren oder Cookies generell ausschließen sowie automatisches Löschen aller oder einiger Cookies beim Schließen des Browser aktivieren. Konsultieren Sie hierzu bitte die Dokumentation Ihres Browsers. Sie können der Nutzung und Speicherung Ihrer Daten zusätzlich jederzeit widersprechen, indem Sie eine entsprechende E-Mail an "hallo (at) python-podcast (.) de" senden. Die Deaktivierung der Cookies schränkt die Funktionalität dieser Seiten ein.

Unsere Cookies sind zur korrekten Anzeige des Layouts &amp; der Inhalte dieser Webseiten gedacht und zur Darstellung und für den reibungslosen Betrieb mit unserem Server notwendig (berechtigtes Interesse, gemäß Art. 6 (1) f DSGVO). Diese Cookies werden von uns nicht weiter ausgewertet.

<h3>Server-Log-Files</h3>
Bei jedem Zugriff auf unsere Webseiten erhebt und speichert der Provider unserer Seiten zum Zweck der Vermeidung von missbräuchlicher Nutzung (sog. "Hacker-Angriffe") notwendigerweise (nach Art 6, (1) f DSGVO) automatisiert Informationen über Sie in Protokolldateien, den so genannten Server-Log Files, die Ihr System &amp; Browser automatisch an uns übermitteln. Dies sind:
<ul>
 	<li>die angeforderte Seite</li>
 	<li>Browsertyp/Version &amp; verwendetes Betriebssystem</li>
 	<li>Ihre Client-IP &amp; der Hostname des zugreifenden Rechners</li>
 	<li>Datum &amp; Uhrzeit der Serveranfrage</li>
 	<li>die Referrer URL oder den Inhalt Ihrer Anfrage (Web-Request)</li>
</ul>
Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden. Ansonsten werden diese Daten nicht zur Identifizierung des Nutzers verwendet, sie werden nicht zu statistischen Zwecken ausgewertet, eine Weitergabe der Logfiles an Dritte findet weder zu kommerziellen noch zu nichtkommerziellen Zwecken statt und eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Die sog. "Access-Logs" werden aus Sicherheitsgründen für bis zu drei Jahre aufbewahrt.

<h3>Widerspruch Werbe-Mails</h3>
Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.

&nbsp;

Ihre Fragen und Anregungen zum Thema Datenschutz sind uns sehr willkommen und wichtig. Sie können uns unter den im <a href="/impressum">Impressum</a> angegebenen Kontaktdaten erreichen.
{% endblock content %}
