{% extends cast_base_template %}
{% block content %}
  <h1>Impressum</h1>
  <a href="/datenschutzerklaerung/"><strong><u>Sie haben jederzeit ein Recht auf unentgeltliche Löschung oder Sperrung Ihrer erhobenen Daten, klicken Sie hier</u></strong></a>
  <h3>Angaben gemäß § 5 TMG:</h3>
  Dominik Geldmacher &amp; Jochen Wersdörfer
  Sulzbachstr. 61
  40629 Düsseldorf
  (ebenfalls „Verantwortliche“ im Sinne des § 55 RStV für alle journalistisch-redaktionellen Inhalte sowie den Datenschutz)
  <h3>Kontakt:</h3>
  E-Mail:       hallo (at) python-podcast.de

  Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit. Diese Schlichtungsstelle finden sie hier: <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>
  An Streitbeilegungsverfahren vor Verbraucherschlichtungsstellen nehmen wir aktuell nicht Teil.

  Die verwendeten Bilder und Grafiken auf dieser Webseite sind entweder selbst geschossen oder unterliegen, soweit nicht anders angegeben, der Public Domain <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> und sind, soweit wir wissen, lizenzfrei. Bei Gegenindikationen bitten wir um eine sofortige Benachrichtigung.
{% endblock content %}
